<!-- TODO: This is largely based on sample code Bootstrap provides - probably needs to be refined/customized further -->
<div class="d-flex flex-column p-3 " style="width: 280px;">
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
            <a href="{{url_for('home')}}" class="nav-link link-dark" aria-current="page">
                Home
            </a>
        </li>
        <li>
            <a href="{{url_for('showArtist')}}" class="nav-link link-dark">
                Artists
            </a>
        </li>
        <li>
            <a href="{{url_for('about')}}" class="nav-link link-dark">
                About Us
            </a>
        </li>
    </ul>
</div>